form{
  margin:0 auto;
}

a{
  font-family:"Georgia",serif;
  color:orange;
}

h3{
  display:block;
  margin-left:auto;
  margin-right:auto;
font-family:"Georgia",serif;
color:#313131;
}

img{
  display:block;
  margin-left:auto;
  margin-right:auto;
}

#catfact{
  position:absolute;
  bottom:0;
  width:80%;
  margin-left:150px;
  margin-right:150px;
  text-align:center;
}
label{
  display: inline-block;
  width: 5em;
}
