#requirements{
  font-family:"Georgia",serif;
  font-size:12px;

}

#registration_header{
  font-family:"Arial",sans-serif;
  font-size:14px;
}
img{
  position:absolute;
  bottom:0;
  display:block;
  margin-left:auto;
  margin-right:auto;
}
